<form id="logmeal" action="/logmeal" method="post">
      <div>
        <label for="username">UserName:</label>
        <input type="text" id="username" name="username" />
      </div>
    <div>
        <label for="meal">Choose Your Meal</label>

        <select name="Meals">
          {{#each getMealTitles}}
          <option value={{title}}>{{title}}</option>
          {{/each}}
        </select>
</div>


      <input type="text" id="mail" name="title" />
      </div>
       <div>
        <label for="date">Meal Date:</label>
        <input type="date" id="date" name="date" />
      </div>
      <div>
        <label for="time">Meal Time:</label>
        <input type="time" id="time" name="time" />
      </div>
      <!-- <div class="wrapper"> -->
      <input type="submit" value="Submit"/>

        <!-- <div class="button"><button type="submit">Submit Your Meal</button></div> -->
      <!-- </div> -->
    </form>
