
 <!-- <ul id="list" class="countries">
    {{#each countryData}}
    {{#if this.city }}
    <li class="list">{{this.country}} : {{this.city}}</li>
   {{/if}}
    {{/each}}
  </ul> -->

  <form id="meal" action="/submit" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="title" />
      </div>
      <div>
        <label for="calories">Calories:</label>
        <input type="text" id="calories" name="calories" />
      </div>
      <div>
        <label for="ingredients">Ingredients:</label>
      <input type="text" name="ing[a]"/>
      <input type="text" name="ing[b]"/>
      <input type="text" name="ing[c]"/>
      <input type="text" name="ing[d]"/>
      <input type="text" name="ing[e]"/>
      <input type="text" name="ing[f]"/>
      </div>

      <div class="button"><button type="submit">Submit</button></div>

  </form>
